@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}
/*-- Navigation Styling --*/

.navbar {
    background: #f4f4f4;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
    padding-top: 10px;
    padding-bottom: 10px;
}

/*--Use of important here to override the set colours in bootstrap--*/
.nav-link {
    color: #83C5BE !important;
}

.nav-link:hover {
    color: #006D77 !important;
}

.navbar-light .navbar-brand {
    color: #83C5BE !important;
}

.navbar-light .navbar-brand:hover {
    color: #006D77 !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}
