<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top text-style">
		<a class="navbar-brand" href="{{url_for('home')}}">
			Movies Manager
        </a>
			<button class="navbar-toggler custombutton" type="button" data-toggle="collapse" data-target="#navbar-nav"
            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			
        </button>
			<div class="collapse navbar-collapse text-style" id="navbar-nav">
				<ul class="navbar-nav ml-auto uppercase">
					<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
						<a class="nav-link" href="{{url_for('home')}}">Home</a>
					</li>
					<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
						<a class="nav-link" href="{{url_for('search')}}">Search</a>
					</li>
					<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
						<a class="nav-link " href="{{url_for('login')}}">Sign In</a>
					</li>
					<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
						<a class="nav-link " href="{{url_for('register')}}">Register</a>
					</li>
				</ul>
			</div>
    </nav>
	<div id="alerts" class="container-fluid">
		<div class="row justify-content-around">
			<div id="messages">
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				{% for message in messages %}
				<p class="text-center">{{ message }}</p>
				{% endfor %}
				{% endif %}
				{% endwith %}
			</div>
		</div>
	</div>
	<div class="main-content">
		{% block content %}
		{% endblock %}
	</div>
	<section class="footer">
		<div class="container-fluid text-center">
			<div class="row">
				<div class="col footer-items">
					<h5>Movie Central</h5>
					<h5>By Stephen Seagrave</h5>
					<ul>
						<li class="list-inline-item">
						  <a target="_blank" rel="noopener"	href="https://github.com/nemixu">
							<i class="fa fa-github github" aria-hidden="true"></i>
							<span class="sr-only">Github</span></a>
						</li>
					  </ul>
				</div>
			</div>
		</div>

	</section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="static/js/script.js"></script>
</body>
</html>