{% extends 'base.html' %} {% block content %}
<header id="landing-image">
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-12">
                <h1 id="landing-text">Movie Central</h1>
            </div>
        </div>
    </div>
</header> 
<section id="home-main">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 id="our-picks" class="text-center">
                    Our Top Picks
                </h2>
                <hr class="divider">
            </div>
        </div>
    </div>
<div class="container toppick-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 movie-card">
                <img src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg" class="rounded float-left movie-img" alt="Movie Image">
                <h3 class="movie-title">
                    Bright
                </h3>
                <h4 class="movie-year">
                    2017,
                </h4>
                <h4 class="movie-director">
                    David Ayer
                </h4>
                <p class="movie-description">
                    Set in a world where fantasy creatures live side by side with humans. A human cop is forced to work with an Orc to find a weapon everyone is prepared to kill for. 
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 movie-card">
                <img src="https://m.media-amazon.com/images/M/MV5BZjFhM2I4ZDYtZWMwNC00NTYzLWE3MDgtNjgxYmM3ZWMxYmVmXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_CR0,0,631,1000_AL_.jpg" class="rounded float-left movie-img" alt="Movie Image">
                <h3 class="movie-title">
                    The Invisible Man
                </h3>
                <h4 class="movie-year">
                    2020,
                </h4>
                <h4 class="movie-director">
                    Leigh Whannell
                </h4>
                <p class="movie-description">
                    When Cecilia's abusive ex takes his own life and leaves her his fortune, she suspects his death was a hoax. As a series of coincidences turn lethal, Cecilia works to prove that she is being hunted by someone nobody can see. 
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 movie-card">
                <img src="https://m.media-amazon.com/images/M/MV5BNmMwYzFlNTEtYTc0NC00NGY4LTgzNzItZGFiYTViY2QzNzU1XkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_CR0,0,674,1000_AL_.jpg" class="rounded float-left movie-img" alt="Movie Image">
                <h3 class="movie-title">
                    Tenet
                </h3>
                <h4 class="movie-year">
                    2020,
                </h4>
                <h4 class="movie-director">
                    Christopher Nolan
                </h4>
                <p class="movie-description">
                    Armed with only one word -- Tenet -- and fighting for the survival of the entire world, the Protagonist journeys through a twilight world of international espionage on a mission that will unfold in something beyond real time.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 movie-card">
                <img src="https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg" class="rounded float-left movie-img" alt="Movie Image">
                <h3 class="movie-title">
                    Interstellar
                </h3>
                <h4 class="movie-year">
                    2014,
                </h4>
                <h4 class="movie-director">
                    Christopher Nolan
                </h4>
                <p class="movie-description">
                    A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.
                </p>
            </div>
        </div>  
    </div>
</div>
    
</section>

<section id="movie-display">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 id="our-picks" class="text-center">
                        Recent Favorites
                    </h2>
                    <hr class="divider">
                </div>
            </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p>movies text goes here</p>
            </div>
            <div class="col-6">
                <p>movies text goes here</p>
            </div>
            <div class="col-6">
                <p>movies text goes here</p>
            </div>
            <div class="col-6">
                <p>movies text goes here</p>
            </div>
        </div>
    </div>

</section>

{% endblock %}
