{% extends 'base.html' %} {% block content %}

<div class="login-wrapper">
    <div id="formInputs">
        <div class="siteIcon">
            <h1 id="login-header">Sign In Here</h1>
        </div>
<form>
    <input type="text" id="login" class="input" name="login" placeholder="Login">
    <input type="text" id="password" class="input"  name="login" placeholder="Password">
    <input type="submit" id="login-button" class="input" value="Login">
 </form>
<div id="formFooter">
    <a id="anchorHover" href="#">Forgot Password?</a>
</div>
    </div>
</div>
{% endblock %}