{% extends 'base.html' %} {% block content %}

<div class="container" id="profile-container">
  <div class="row">
    <div class="col-12">
      <h1>{{user_account.username}}'s Favourites</h1>
    </div>
    {% for movie in user_favs %}
      <div class="col-sm-12 col-md-6 col-lg-3 movie-card">
        <form action="{{ url_for('edit') }}" method="POST">
        <img src="{{ movie.poster }}" class="rounded float-left movie-img" alt="Movie Image">
        <input name="title" id="title" class="form-control" value="{{ movie.title }}"/>
        <input name="year" id="year" class="form-control" value="{{ movie.year }}"/>
        <input name="_id" id="_id" type="hidden" value="{{ movie._id }}" class="hidden-text"/>
        <h3 class="movie-title">
          <a target="_blank" rel="noopener" href="https://www.imdb.com/title/{{ movie.imdbid }}/">
            <i class="fa fa-imdb"></i></a>
          {{ movie.title }}
        </h3>
        <h4 class="movie-year">
          {{ movie.year }}
        </h4>
        <a href="/delete_favorites/{{movie._id}}" class="btn btn-dark">Remove</a>
        <input type="submit" id="edit" class="input" value="Edit"/>
      </form>
      </div>
    {% endfor %}
  </div>
</div>


{% endblock %}