{% extends 'base.html' %} {% block content %}

<div class="login-wrapper">
    <div class="formInputs">
            <h1 id="login-header">Register Your Account</h1>
<form>
    <input type="text" id="register" class="input" name="login" placeholder="Register">
    <input type="password" id="register_password" class="input"  name="login" placeholder="Password">
    <input type="submit" id="register-button" class="input" value="Register">
 </form>
<div class="formFooter">
    <a class="anchorHover" href="{{url_for('login')}}">Already have an account?</a>
</div>
    </div>
</div>

{% endblock %}