{% extends 'base.html' %} {% block content %}

<div class="login-wrapper">
    <div class="formInputs">
            <h1 id="login-header">Register Your Account</h1>
<form action="/register" method="POST">
    <input type="text" id="register" class="input" name="username" placeholder="Username" required>
    <input type="text" id="email" class="input" name="email" placeholder="Email" required>
    <input type="password" id="register_password" class="input"  name="register_password" placeholder="Password" required>
    <input type="password" id="repeated_password" class="input"  name="repeated_password" placeholder="Password" required>
    <input type="submit" id="register-button" class="input" value="Register">
 </form>
<div class="formFooter">
    <a class="anchorHover" href="{{url_for('login')}}">Already have an account?</a>
</div>
    </div>
</div>

{% endblock %}