{% extends 'base.html' %} {% block content %}
​
<form method="post" action="search" id="search-form">
    <div class="form-group">
      <label for="exampleInputPassword1">Search</label>
      <input type="text" class="form-control" id="search-term" name="search-term">
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
​
<div id="results">
  {% for movie in returnResults %}
    <div id="{{ movie[0] }}">
      <p>{{ movie[0] }}</p>
      <p>{{ movie[1] }}</p>
      <img src="{{ movie[2] }}">
    </div>
  {% endfor %}
</div>
​
{% endblock %}