{% extends 'base.html' %} {% block content %}
​<div class="container">
  <div class="row">
    <div class="col">
<form method="post" autocomplete="off" action="search" id="search-form">
    <div class="form-group">
      <label aria-labelledby="search-form">Search a movie title</label>
      <input type="text" class="form-control" id="search-term" placeholder="search" name="search-term" minlength="4" required>
    </div>
    <button class="btn btn-primary" id="search-button">Search</button>
</form>
<div id="search-heading">
  <h3>Cant find what you're looking for ? be specific!</h3>
</div>
</div>
</div>
​</div>

<div id="results">
    <div class="container">
      <div class="row">
        {% for movie in movie_results %}
          <div class="col-sm-12 col-md-6 col-lg-3 movie-card">
            <form action="{{ url_for('add_favorite') }}" method="POST">
              <img src="{{ movie[3] }}" class="rounded float-left movie-img" alt="Sorry no image to display">
              <textarea name="title" class="hidden-text">{{ movie[0] }}</textarea>
              <textarea name="year" class="hidden-text">{{ movie[1] }}</textarea>
              <textarea name="imdbid" class="hidden-text">{{ movie[2] }}</textarea>
              <textarea name="poster" class="hidden-text">{{ movie[3] }}</textarea>
              <h3 class="movie-title">
                <a target="_blank" rel="noopener" href="https://www.imdb.com/title/{{ movie [2]}}/"><i class="fa fa-imdb"></i></a>
                  {{ movie[0] }} 
              </h3>
              <h4 class="movie-year">
                {{ movie[1] }}
              </h4>
              <input type="submit" id="add-favorites" class="input" value="Add to Favorites">
          ​</form>
        </div>
          {% endfor %} 
      </div> 
  </div>
</div>

{% endblock %}